@import "tailwindcss";
/* 
:root {
  --primary: #9333EA;
} */

@theme inline {
  --font-primary: "Inter", sans-serif;
  --color-primary:  #13133F;
  --color-primary-dark: #1A184B;
  --color-primary-soft: #1C184F;
  --color-secondary: #E3AA2F;
  --color-black: #232323
}


